:root {
  --primary: #004AC6;
  --secondary: #006C49;
  --tertiary: #996100;
  --background: #f8f9ff;
  --surface: #ffffff;
  
  --primary-light: #e8eeff;
  --primary-dark: #00389a;
  --primary-container: #e5eeff;
  --on-primary: #ffffff;
  --on-primary-container: #eeefff;
  
  --secondary-light: #e6f5ef;
  --secondary-dark: #005236;
  --secondary-container: #6cf8bb;
  --on-secondary: #ffffff;
  --on-secondary-container: #00714d;
  
  --tertiary-light: #fff3e0;
  --tertiary-dark: #6b4200;
  --tertiary-container: #996100;
  --on-tertiary: #ffffff;
  --on-tertiary-container: #ffeedd;
  
  --surface-container-lowest: #ffffff;
  --surface-container-low: #eff4ff;
  --surface-container: #e5eeff;
  --surface-container-high: #dce9ff;
  --surface-container-highest: #d3e4fe;
  --surface-variant: #d3e4fe;
  
  --on-surface: #0b1c30;
  --on-surface-variant: #434655;
  --outline: #737686;
  --outline-variant: #c3c6d7;
  
  --error: #ba1a1a;
  --on-error: #ffffff;
  --error-container: #ffdad6;
  --on-error-container: #93000a;
}